/* Info Btn */

.contenedor {
  display: table;
  margin: 20px auto;
  position: relative;
}

.expand {
  width: 430px;
  padding:15px 10px;
  max-height: 80px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #aaa;
  transition: .5s;
}

.expand::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
    pointer-events: none;
    transition: 1s;
}

.contenedor input {
  visibility: hidden;
}

.contenedor label {
  position: absolute;
  bottom: -.8em;
  display: block;
  font-size: .6em;
  padding: .20em 10px;
  right: 0;
  background: #aaa;
  box-shadow:-5px 0 white;
  color: white;
  z-index:999;
  cursor: pointer;
  text-transform: uppercase;
}

.contenedor label:before {
  content: "more";
}

.contenedor input:checked + label:before {
  content: "less"
}

input[type=checkbox]:checked ~ .expand {
 max-height: 500px;
}

input[type=checkbox]:checked ~ .expand:before {
 opacity: 0
}
/* Info Btn END */




/* SNS icons */
@import url("sns.css");
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
 body{

  }
#SNScontainer{
 height:100px;
 width: 600px;
 background-color:white;
 position:relative;
 left:20px;
 margin:50px 0 0 0;
}
#social{
	height: 100px;
	width: 600px;
	position: absolute;
	top:0px;
	left:0px;
	color:#4B4B4B;
   cursor:pointer;
	text-align: left;
	word-spacing: 1em;

}
/*#social div:nth-child(1),div:nth-child(2),div:nth-child(3),div:nth-child(4){
font-size: 75px;
display: inline-block;
padding: 10px 20px;
border:1px solid #646464;
}*/
#linkedin,#facebook,#instagram{
	display: inline-block;
	font-size: 30px;
	/*border:1px solid #646464;*/
	padding: 3px 10px;
	/*background:#FFF;*/
  	-webkit-transition:all 0.8s ease;
}
#linkedin:hover{
    color: #0984be;
    background:#FFF;
    -webkit-transform:translateY(10px);
}
#facebook:hover{
    color: #3B5998;
    background:#FFF;
    -webkit-transform:translateY(10px);
}
#instagram:hover{
    color: #E289CC;
    background:#FFF;
    -webkit-transform:translateY(10px);
}
